@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html,
body {
	margin: 0;
	padding: 0;
}

.news-card {
	width: 760px;
	height: 45vh;
	padding: 3em;
	margin: 80px auto;
	overflow: hidden;
	position: relative;
	background-color: #000;
	z-index: -10;
}

h1 {
	font-family: Roboto, san-serif;
	font-size: 4em;
	line-height: 1em;
	width: 80%;
	color: #fff;
}

.underline {
	position: relative;
}

.underline::after {
	content: '';
	background-color: #e60000;
	position: absolute;
	z-index: -1;
	height: 10px;
	bottom: 10px;
	left: -5px;
	right: -5px;
}

img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: -2;
	filter: saturate(0.15);
	opacity: 0.7;
}
